*.pyc
__pycache__/
db.sqlite3
backend/.env
venv/
env/
.venv/
media/
staticfiles/
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.env
*.pot
*.mo
*.py[cod]
*$py.class
*.swp
*~
.project
.pytest_cache/
.coverage
htmlcov/